/* buttons */
.button {
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button:focus {
  outline-color: #00b3ff !important;
}

.normal {
  background-color: #313131;
  color: white;
  transition: 0.2s;
}

.normal:hover {
  background-color: #181818;
}

.normal:active {
  background-color: #000000 !important;
  outline-color: #2d2d2d !important;
}

.activate-account-button{
  border: 1px solid rgb(162, 162, 162);
  transition: 0.2s;
}
.activate-account-button:hover{
  background-color: rgb(229, 229, 229);
}


.small-button:focus {
  outline-color: #e4e4e4 !important;
}

.register-link-login {
  cursor: pointer;
  text-decoration: underline !important;
  transition: 0.1s ease;
}

.register-link-login:hover {
  color: gray !important;
}


.custom-confirm-button {
  background-color: black; 
  color: white; 
  border: none; 
  width: 12em;
  font-size: 0.9em !important;
}
.custom-confirm-button:hover {
  background-color: #333; 
}
.custom-cancel-button {
  font-size: 0.9em !important;
}



/* TODAY PAGE */

.addlist-button{
  color: rgb(65, 65, 65);
  font-size: 0.7em;
  /* margin-left: 2em; */
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.addlist-button:hover{
  color: black;
  text-decoration: underline;
}
.addlist-button:focus{
  outline: none;
}

.addtask-button2{
  color: rgb(65, 65, 65);
  background-color: inherit;
  border: 1px solid rgb(166, 166, 166);
  padding: 0.4em 0.5em;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}
.addtask-button2:hover{
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(153, 153, 153);
}
.addtask-button2:focus{
  outline: none;
}

.createlist-button{
  color: rgb(65, 65, 65);
  height: 1.8em;
  font-size: 0.7em;
  border: 1px solid rgb(181, 181, 181);
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.2s;
}
.createlist-button:hover{
  background-color: #67F3B2;
}
.createlist-button:focus{
  outline: none;
  border: 1px solid rgb(53, 53, 53);
}




/* LISTS */
.showduetasks-button{
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
  background-color: inherit;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  height: 2em;
  transition: 0.2s;
}
.showduetasks-button:hover{
  background-color: rgb(238, 238, 238);
}
.showduetasks-button:focus{
  outline: none;
  border: 1px solid rgb(93, 93, 93) !important;
}




/* ADDNEWTASK COMPONENT */
.savetask-button{
  width: 12em;
  border: none;
  font-size: 0.8em;
  background-color: #67F3B2;
  color: rgb(47, 47, 47);
  padding: 0.4em 3em;
  font-weight: 900;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.savetask-button:hover{
  background-color: rgb(0, 253, 164);
}
.canceltask-button{
  width: 12em;
  border: none;
  font-size: 0.8em;
  background-color: #cccccc;
  color: rgb(67, 67, 67);
  padding: 0.4em 2em;
  font-weight: 900;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.canceltask-button:hover{
  background-color: rgb(169, 169, 169);
}
.setduedatetoday-button{
  border: 1px solid rgb(240, 240, 240);
  font-size: 0.7em;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(44, 44, 255);
}
.setduedatetoday-button:hover{
  cursor: pointer;
  background-color: #e0e0e0;
  border: 1px solid rgb(198, 198, 198);
}
.setduedatetoday-button:focus{
  outline: none;
}



/* TASK MANAGER */
.deletetask-button{
  font-size: 0.9em;
  border: none;
  background-color: inherit;
  transition: 0.2s;
  color: #4b4b4b;
  cursor: pointer;
  margin-top: -0.4em;
}
.deletetask-button:hover{
  color: red;
}
.deletetask-button:focus{
  outline: none;
}




/* TASKDETAILS */
.createsubtask-button{
  font-size: 0.8em;
  margin-left: 0.2em;
  padding: 0.15em 0.5em 0.3em 0.5em;
  height: 1.88em;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
}
.createsubtask-button:hover{
  background-color: #67F3B2;
}
.createsubtask-button:focus{
  outline: none;
  border: 1px solid rgb(72, 72, 72);
}





/* POST IT WALL */
.createnewpostitnote-button{
  width: 100%;
  border: none;
  font-size: 1.1em;
  padding: 0.3em;
  background-color: #67F3B2;
  transition: 0.2s;
  cursor: pointer;
  /* background-color: rgb(0, 193, 125); */
}
.createnewpostitnote-button:hover{
  background-color: rgb(0, 253, 164);
  /* background-color: rgb(0, 193, 125); */
}

.deletepost-button{
  border: 1px solid #67F3B2;
  background-color: inherit;
  transition: 0.2s;
  color: #4b4b4b;
  cursor: pointer;
}
.deletepost-button:hover{
  color: red;
}
.deletepost-button:focus{
  border-radius: 10px;
  outline: none;
  border: 1px solid red;
}




/* MODALS BUTTONS */
.savemodal-button{
  font-size: 0.8em;
  font-weight: 900;
  padding: 0.3em 0.6em 0.3em 0.6em;
  height: 2.4em;
  width: 10em;
  border: none;
  background-color: #67F3B2;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.savemodal-button:hover{
  /* border: 1px solid rgb(124, 124, 124); */
  background-color: rgb(0, 253, 164);
}
.closemodal-button{
  font-size: 0.8em;
  font-weight: 900;
  padding: 0.3em 0.6em 0.3em 0.6em;
  height: 2.4em;
  width: 7em;
  border: none;
  background-color: #cccccc;
  color: rgb(59, 59, 59);
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.closemodal-button:hover{
  /* border: 1px solid rgb(124, 124, 124); */
  background-color: rgb(197, 197, 197);
}