/* buttons */
.button {
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button:focus {
  outline-color: #00b3ff !important;
}

.normal {
  background-color: #313131;
  color: white;
  transition: 0.2s;
}

.normal:hover {
  background-color: #181818;
}

.normal:active {
  background-color: #000000 !important;
  outline-color: #2d2d2d !important;
}

.activate-account-button{
  border: 1px solid rgb(162, 162, 162);
  transition: 0.2s;
}
.activate-account-button:hover{
  background-color: rgb(229, 229, 229);
}


.small-button:focus {
  outline-color: #e4e4e4 !important;
}

.register-link-login {
  cursor: pointer;
  text-decoration: underline !important;
  transition: 0.1s ease;
}

.register-link-login:hover {
  color: gray !important;
}


.custom-confirm-button {
  background-color: black; 
  color: white; 
  border: none; 
  width: 12em;
  font-size: 0.9em !important;
}
.custom-confirm-button:hover {
  background-color: #333; 
}
.custom-cancel-button {
  font-size: 0.9em !important;
}


/* TODAY PAGE */
.addlist-button{
  color: rgb(65, 65, 65);
  font-size: 0.7em;
  /* margin-left: 2em; */
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.addlist-button:hover{
  color: black;
  text-decoration: underline;
}
.createlist-button{
  color: rgb(65, 65, 65);
  height: 1.8em;
  font-size: 0.7em;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.2s;
}
.createlist-button:hover{
  background-color: rgb(236, 236, 236);
}




/* ADDNEWTASK COMPONENT */
.savetask-button{
  width: 12em;
  border: none;
  font-size: 0.8em;
  background-color: rgb(0, 193, 125);
  color: white;
  padding: 0.4em 3em;
  font-weight: 900;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.savetask-button:hover{
  background-color: rgb(0, 253, 164);
}
.canceltask-button{
  width: 12em;
  border: none;
  font-size: 0.8em;
  background-color: rgb(107, 107, 107);
  color: white;
  padding: 0.4em 2em;
  font-weight: 900;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.canceltask-button:hover{
  background-color: rgb(169, 169, 169);
}


/* TASK MANAGER */
.deletetask-button{
  font-size: 0.9em;
  border: none;
  background-color: inherit;
  transition: 0.2s;
  color: #4b4b4b;
  cursor: pointer;
  margin-top: -0.4em;
}
.deletetask-button:hover{
  color: red;
}
.deletetask-button:focus{
  outline: none;
}




/* TASKDETAILS */
.createsubtask-button{
  font-size: 0.9em;
  margin-left: 0.2em;
  padding: 0.1em 0.5em 0.3em 0.5em;
  height: 1.65em;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
}
.createsubtask-button:hover{
  background-color: #67F3B2;
}





/* POST IT WALL */
.createnewpostitnote-button{
  width: 100%;
  border: none;
  font-size: 1.1em;
  padding: 0.3em;
  background-color: #67F3B2;
  transition: 0.2s;
  cursor: pointer;
  /* background-color: rgb(0, 193, 125); */
}
.createnewpostitnote-button:hover{
  background-color: rgb(0, 253, 164);
  /* background-color: rgb(0, 193, 125); */
}

.deletepost-button{
  border: 1px solid #67F3B2;
  background-color: inherit;
  transition: 0.2s;
  color: #4b4b4b;
  cursor: pointer;
}
.deletepost-button:hover{
  color: red;
}
.deletepost-button:focus{
  border-radius: 10px;
  outline: none;
  border: 1px solid red;
}






.download-file-button{
  /* cursor: pointer; */
  color: rgb(0, 0, 0);
  background-color: inherit;
  border: 1px solid rgb(237, 237, 237);
  font-size: 0.9em;
  border-radius: 2px;
  padding: 0.1em 0.6em;
  transition: 0.1s;
}
.download-file-button:hover{
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(159, 159, 159);
}
.download-file-button:focus{
  outline: 1px solid black;
}

.index-swal-fire-button {
  background-color: black !important; 
  color: white !important;          
  border: none !important;          
  padding: 10px 20px !important;    
  font-size: 1em !important;        
  border-radius: 5px !important;    
  cursor: pointer !important;      
}
.index-swal-fire-button:hover {
  background-color: #333 !important; 
}
.index-swal-fire-button:focus {
  outline: none;
}
