/* main css */


.header {
  width: 75%;
}
.header h4 {
  font-size: 1.2em;
  font-weight: 700;
}
.header h5 {
  font-size: 1.15em;
  font-weight: 700;
}
.header p {
  font-size: 0.9em !important;
}

.page-loading-login {
  text-align: center;
  margin-left: 3em;
  padding-top: 10em;
  font-weight: 700;
  margin-right: 14%;
}

.loading-bar-container-login {
  text-align: center;
  width: 30vh;
  height: 4px;
  background-color: #ffffff;
  margin-left: 30%;
}

.loading-bar-login {
  text-align: center;
  height: 100%;
  width: 10%;
  background-color: #242424;
  transition: width 2s ease;
  animation: fillLoadingBar 2.5s linear;
}
@keyframes fillLoadingBar {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}


.spinning-logo-login {
  text-align: center;
  margin-bottom: 2em;
}
.spinning-logo-login img {
  width: 3.2em;
  justify-content: center;
  text-align: center;
  margin: 8em 0 1em 0;
  animation: spin 2.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* VERSION UPDATE SPINNER */

/* .spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 9em;
}

.spinner {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */



/* UPDATEVERSION WINDOW */

.updateapplication_window-wrapper{
  /* background-color: #232323; */
  background-color: #67F3B2;
  min-height: 100vh !important;
}
.updateapplicationspinning-logo-login {
  text-align: center;
  margin-bottom: 2em;
}
.updateapplicationspinning-logo-login img{
  width: 3em;
  justify-content: center;
  text-align: center;
  margin-top: 4.5em;
  animation: spin 2.5s ease-in-out infinite;
}
.updateapplicationspinning-logo-login p{
  color: rgb(38, 38, 38);
}
/* Progress bar (percentage) */
.progress-bar-updatewindow {
  width: 30% !important;
}
.progress-bar-updatewindow {
  height: 0.3em !important;
  border-radius: 50px !important;
  background-color: #bdbdbd;
  border-color: #ffffff !important;
  appearance: none;
}
.progress-bar-updatewindow::-webkit-progress-bar {
  background-color: #bdbdbd;
  border-radius: 50px !important;
}
.progress-bar-updatewindow::-webkit-progress-value {
  background-color: #ffffff; 
  border-radius: 50px !important;
}



/* LOGIN_WINDOW */

.loading-login{
  background-color: #67F3B2 !important;
  height: 100vh;
}
.signing-in{
  background-color: #67F3B2 !important;
  height: 100vh;
}
.login_window-wrapper {
  /* background-color: rgb(248, 248, 248); */
  background-color: #67F3B2;
  color: rgb(34, 34, 34);
  justify-content: center;
  height: 100vh;
}

.login_window-content {
  padding: 3em;
  text-align: center;
}

.form-input-field-login {
  width: 70%;
  height: 2.6em;
  padding: 0.4em;
  margin-bottom: 0.4em;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(155, 155, 155);
  outline: none;
  font-size: 0.95em;
}

.form-input-field-login:focus {
  border-color: #343434;
}

.form-input-field-login::placeholder {
  color: rgb(168, 168, 168);
  font-size: 0.85em;
}



/* PAGES */

.page-wrapper {
  margin: 0 0 0 6.7em;
}
.page-box{
  background-color: rgb(249, 249, 249) !important;
  padding: 2em 0 7em 2em;
  width: 99%;
  min-height: 99vh;
  border-radius: 5px !important;
  margin: 0.2em;
}
.page-box h1{
  font-size: 1.5em;
  font-weight: 400;
}

.postitwall-wrapper {
  margin: 0 0.1em 0 6.7em;
}
.postitwall-box{
  background-color: rgb(249, 249, 249) !important;
  padding: 2em 2em 5em 2em;
  width: 99%;
  height: 100%;
  min-height: 99vh;
  border-radius: 5px !important;
  margin: 0.2em;
}
.postitwall-box h1{
  font-size: 1.8em;
  font-weight: 400;
}




/* LISTS */
.listinfo{
  max-width: 50%;
}
.list-color{
  text-align: center;
  padding: 0.2em 0 0.2em 0;
  /* color: rgb(30, 15, 15); */
  width: 2em;
  height: 2em;
  border-radius: 4px;
}
.task-box{
  width: 55%;
  /* height: 1.9em; */
  /* max-height: fit-content; */
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: 0.6em 1em 0 1em;
  margin-bottom: 0.1em;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(62, 62, 62) !important;
}
.task-box:hover{
  background-color: rgb(235, 235, 235);
}
.task-box h6{
  font-size: 0.75em;
  font-weight: 600;
}
.task-box-done{
  background-color: #fafafa ;
  color: rgb(212, 212, 212) !important;
}
.task-box-active{
  background-color: #e2e2e2 !important;
}
.task-box-active-done{
  background-color: #e2e2e2;
  color: rgb(195, 195, 195) !important;
}

.checkbox {
  width: 12px; 
  height: 12px; 
  border-radius: 50%;
  appearance: none; 
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 10px; 
  margin-top: 1px;
  cursor: default;
}
.checkbox:checked {
  background-color: #8a8a8a; 
  border-color: #676767; 
}
.subtaskamount{
  text-align: center;
  height: 1.5em;
  background-color: #e9e9e9; 
  padding: 0.2em 0.4em 0 0.4em;
  margin-top: -0.2em;
  margin-right: 0.75em;
  text-decoration: none !important;
  border-radius: 2px;
  font-size: 0.8em !important;
}
.arrowright-task-box{
  margin-top: "1em" !important;
}

.edittask-icon{
  color: rgb(78, 78, 78);
  transition: 0.1s;
}
.edittask-icon:hover{
  color: rgb(137, 137, 137);
}

.duetasksamount{
  text-align: center;
  height: 1.5em;
  background-color: #eeeeee; 
  padding: 0.2em 0.4em 0 0.4em;
  text-decoration: none !important;
  border-radius: 2px;
  font-size: 0.8em !important;
}



/* POST IT WALL */
.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem; 
}
.postit-note{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: calc(25% - 1rem); 
  min-width: 200px; 
  background-color: #67F3B2;
  width: 18.5em;
  height: 21em;
  padding: 1em 1em 0.5em 1em;
  margin: 0.1em;
  font-size: 0.7em;
  box-shadow: 5px 5px 6px rgb(215, 229, 234);
  border: 1px solid rgb(239, 239, 239);
  overflow-y: scroll;
}
.postit-note h6{
  font-weight: 700;
}
.postit-note p{
  font-size: 1em;
  font-family: "Edu TAS Beginner", cursive;

}
.postit-menu{
  margin-top: auto; 
  display: flex;
  justify-content: space-between;
}
.newpostit-note{
  background-color: #f8f8f8;
  border: 1px solid rgb(240, 240, 240);
  width: 18.5em;
  height: 20em;
  padding: 1em;
  margin-top: 0.5em;
  font-size: 0.7em;
  box-shadow: 5px 5px 6px rgb(215, 229, 234);
}
.newpostitnote-title{
  font-size: 1em;
  font-weight: 700;
  width: 100%;
  background-color: inherit;
  border: none;
  border: 1px solid rgb(239, 239, 239);
  height: 15%;
}
.newpostitnote-title:focus{
  outline: none;
  border: 1px solid #67F3B2;
}
.newpostitnote-text{
  font-family: "Edu TAS Beginner", cursive;
  font-size: 1em;
  width: 100%;
  background-color: inherit;
  border: none;
  border: 1px solid rgb(239, 239, 239);
}
.newpostitnote-text:focus{
  outline: none;
  border: 1px solid #67F3B2;
}




/* ARCHIVED */

.movefromarchived-icon{
  height: 1.2em;
  font-size: 0.6em;
  border-radius: 2px;
  border: 1px solid rgb(153, 153, 153);
  padding: 0.2em;
}
.movefromarchived-icon:hover{
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(155, 155, 155);
}
.archived-date{
  margin-top: 0.2em;
  font-size: 0.7em !important;
  font-weight: 200 !important;
}




/* SWAL ALERT */
.custom-swal-icon {
  width: 50px !important;
  height: 50px !important;
}
.custom-swal-button-confirm {
  background-color: #67F3B2 !important;
  color: rgb(45, 45, 45) !important;
  font-size: 14px !important;
  padding: 5px 18px !important;
  height: auto !important;
  min-height: 40px !important;
  border: none !important;
  border-radius: 4px !important;
  outline: none !important;
}
.custom-swal-button-cancel {
  background-color: #525252 !important;
  color: rgb(241, 241, 241) !important;
  font-size: 14px !important;
  padding: 5px 18px !important;
  height: auto !important;
  min-height: 40px !important;
  border: none !important;
  border-radius: 4px !important;
  outline: none !important;
}
.custom-swal-popup {
  padding-bottom: 2em !important;
  border-radius: 8px !important;
}
